body{
    background-color: bisque;
    width: 100%;
    padding:50px;
}

.col-6{
    background-color: white;
}
p{
    width: 100%;
}
.elerhetosegek{
    text-align: center;
}
ul {
    list-style-type: none;
    list-style-position: outside;
}

ul li:before {

    content: '';
  
    display: inline-block;
  
    width: 30px;

    height: 12px;
  
    background-size: 30px;

    background-image: url('./img/zsolt/thumbnail.jpg');

}
li{
    margin: 10px;
    border: black 2px solid;
}